---
import Layout from '../layouts/Layout.astro';
import Section from '../components/SectionContainer.astro'
import Badge from '../components/Badge.astro';
import Social from '../components/Social.astro';
import Linkedin from '../icons/Linkedin.astro';
import GitHub from '../icons/GitHub.astro';
import Mail from '../icons/Mail.astro';
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro';
---

<Layout title="Porfolio de Brian Salas | Desarrollador y Programador Web"
description="Contrata a Brian Salas para crear aplicaciones web de excelente calidad "
>
	<main class="px-4">
		<Section class="py-32 pb-23">
			<img src="/brian.webp" alt="Brian Salas " class="ring ring-zinc-500 rounded-full size-20 mb-4">
			<!-- <h3 class="text-xl text-blue-700/100 opacity-90 font-medium">Hello!</h3> -->
			<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold flex gap-x-4 pb-6 lg:pb-4">Soy Brian Salas 
				<!-- <a href="https://www.linkedin.com/in/briansalas13/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Avaible to Hire</Badge>
				</a> -->
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap"><span class="text-blue-800/90">Desarrollador web fullstack.</span> Fusiono mi creatividad y determinacion para dar lugar a proyectos que alcancen un alta calidad y diseños increíbles.</h2>
			<nav class="flex gap-3 mt-2 flex-wrap">
				<Social href="https://www.linkedin.com/in/briansalas13/">
					<Linkedin class="size-4 md:size-6"/>
					Linkedin
				</Social>
				<Social href="https://github.com/pardo-salas">
					<GitHub class="size-4 md:size-6"/>
					GitHub
				</Social>
				<Social href="mailto:salas.pardo13@gmail.com">
					<Mail  class="size-4 md:size-6"/>
					salas.pardo13@gmail.com
				</Social>
			</nav>
		</Section>
		<Section class="py-20" id="experience">
			<h2 class="text-4xl font-semibold pb-4">Experiencia Laboral</h2>
			<Experience/>
		</Section>
		<Section class="py-20" id="project">
			<h2 class="text-4xl font-semibold pb-4">Proyectos</h2>
			<Projects/>
		</Section>
	</main>
</Layout>

