---
import Layout from "../layouts/Layout.astro";
import Section from "../components/SectionContainer.astro";
import Social from "../components/Social.astro";
import Linkedin from "../icons/Linkedin.astro";
import GitHub from "../icons/GitHub.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Tailwind from "../icons/Tailwind.astro";
import Javascript from "../icons/Javascript.astro";
import Nodejs from "../icons/Nodejs.astro";
import Typescript from "../icons/Typescript.astro";
import Express from "../icons/Express.astro";
import Html from "../icons/Html.astro";
import Css from "../icons/Css.astro";
import Mongodb from "../icons/Mongodb.astro";
import MySql from "../icons/MySql.astro";
import Bootstrap from "../icons/Bootstrap.astro";
import Php from "../icons/Php.astro";
import Vuejs from "../icons/Vuejs.astro";
---

<Layout
  title="Porfolio de Brian Salas | Desarrollador y Programador Web"
  description="Contrata a Brian Salas para crear aplicaciones web de excelente calidad "
>
  <main class="px-4">
    <Section class="py-32 mt-10 flex md:flex-row flex-col-reverse text-center md:text-left text-pretty">
      <div>
        <span class="text-sky-950 dark:text-sky-300 lg:text-lg font-semibold"
          >¡Hola!</span
        >
        <h1
          class="text-3xl md:text-4xl lg:text-5xl font-bold pb-4 lg:pb-2"
        >
          Soy Brian Salas
        </h1>
        <h2 class="text-xl lg:text-xl text-wrap pr-3">
          <span class="text-2xl font-semibold text-sky-900 dark:text-sky-400"
            >Desarrollador web fullstack.</span
          >
          <p>
            Con +1 año de experiencia en el desarrollo web, mi enfoque se centra en la resolución eficiente y detallada de necesidades, con una perseverancia constante. Mi objetivo es proporcionar soluciones de alta calidad y atractivas.
          </p>
        </h2>
        <nav class="flex mt-2 items-center md:justify-normal justify-center">
          <Social title="Brian Roberto Salas Pardo Linkedin's profile" href="https://www.linkedin.com/in/briansalas13/">
            <Linkedin class="size-6 md:size-8" />
          </Social>
          <Social title="Brian Roberto Salas Pardo Github's profile" href="https://github.com/pardo-salas">
            <GitHub class="size-6 md:size-8" />
          </Social>
        </nav>
        <div class="flex md:justify-normal justify-center items-center my-2 ">
          <a target="_blank" class="bg-sky-300 hover:bg-sky-200 dark:bg-sky-500/60 rounded-lg p-2 dark:hover:bg-sky-400/60 hover:scale-105 transition ease-in-out text-font-bold " href="https://drive.google.com/file/d/1VzG_3yFicIZNJbIG0kSUkdZZ6s5QSn76/view?usp=sharing">Descargar CV</a>
        </div>
      </div>
      <div class="flex-none flex justify-center items-center mb-4">
        <img
        src="/brian.webp"
        alt="Brian Salas "
        class="rounded-full size-44 md:size-60 shadow-2xl"
        />
      </div>
    </Section>
    <Section class="py-20" id="experience">
      <h2 class="text-4xl font-semibold pb-4">Experiencia Laboral</h2>
      <Experience />
    </Section>
    <Section class="py-20" id="project">
      <h2 class="text-4xl font-semibold pb-4">Proyectos</h2>
      <div class="grid md:grid-cols-2 gap-8 ">
        <Projects />
      </div>
    </Section>
    <Section class="py-20" id="tecnologies">
      <h2 class="text-4xl font-semibold pb-4">Tecnologías</h2>
      <nav class="flex flex-wrap gap-4 items-center justify-center">
        <Html class="size-10"/>
        <Css class="size-10"/>
        <Javascript class="size-10"/>
        <Typescript class="size-10"/>
        <Tailwind class="size-10"/>
        <Bootstrap class="size-10"/>
        <Vuejs class="size-10"/>
        <Php class="size-10"/>
        <Nodejs class="size-10"/>
        <Express class="size-10"/>
        <Mongodb class="size-10"/>
        <MySql class="size-10"/>
      </nav>
    </Section>
  </main>
</Layout>
