---
import Tailwind from "../icons/Tailwind.astro";
import Javascript from "../icons/Javascript.astro";
import Nodejs from "../icons/Nodejs.astro";
import Typescript from "../icons/Typescript.astro";
import Express from "../icons/Express.astro";
import Html from "../icons/Html.astro";
import Css from "../icons/Css.astro";
import Mongodb from "../icons/Mongodb.astro";
import MySql from "../icons/MySql.astro";
import Bootstrap from "../icons/Bootstrap.astro";
import Php from "../icons/Php.astro";
import Vuejs from "../icons/Vuejs.astro";
---
<section class="flex gap-x-4">
    <div class="[&>p]:mb-4 [&>p>strong]:dark:text-sky-400 [&>p>strong]:text-sky-700 [&>p>strong]:font-semibold text-pretty">
        <p>
            ¡Hola! Mi nombre es Brian, tengo 23 años y soy de México. Soy un Desarrollador Web Fullstack comprometido con la resolución de problemas y enfocado en obtener el mejor rendimiento para brindar la <strong>mejor experiencia de usuario</strong>.
        </p>
        <p>
            Como desarrollador web, me desempeñé en Welldex Internacional, una agencia aduanera, colaborando en proyectos para facilitar y mejorar el rendimiento de varios departamentos. Mi trabajo consistió en agilizar e innovar su forma de trabajar, implementando soluciones web que <strong>optimizaron los procesos internos y brindaron mayor eficiencia a la empresa.</strong>
        </p>
        <p>
            Durante mi tiempo en Welldex Internacional, tuve la oportunidad de trabajar en proyectos ya iniciados. Esto me permitió aprender rápidamente sobre las tecnologías y metodologías utilizadas en dichos proyectos. Me enfoqué en agilizar el tiempo de aprendizaje para brindar el mayor rendimiento posible y alcanzar los objetivos establecidos en las fechas previstas. Esta experiencia me ayudó a desarrollar <strong>habilidades de adaptación y a trabajar eficientemente en entornos con plazos ajustados.</strong>
        </p>
        <h2 class="text-4xl font-semibold pb-6">Tecnologías</h2>
          <nav class="flex flex-wrap gap-4 items-center justify-center">
            <Html class="size-10"/>
            <Css class="size-10"/>
            <Javascript class="size-10"/>
            <Typescript class="size-10"/>
            <Tailwind class="size-10"/>
            <Bootstrap class="size-10"/>
            <Vuejs class="size-10"/>
            <Php class="size-10"/>
            <Nodejs class="size-10"/>
            <Express class="size-10"/>
            <Mongodb class="size-10"/>
            <MySql class="size-10"/>
          </nav>
    </div>
</section>