---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Agosto 2023 - Diciembre 2023",
    title: "Trainee Web Developer - Welldex Internacional",
    description:
      "Fui responsable de la creación de módulos para la empresa, encargándome de diseñar, desarrollar y poner en funcionamiento diferentes componentes y funcionalidades clave. Trabajé principalmente con Vue.js 3 para el frontend, junto con una librería de componentes. Para el backend, utilicé Nodejs con Express para el manejo de APIs. En cuanto a las bases de datos, trabajé con BigQuery y MariaDB",
  },
  {
    date: "Enero 2023 - Julio 2023",
    title: "Fullstack Web Developer ",
    description:
      "Como freelance especializado en desarrollo web, fui responsable de crear un sitio web personalizado para un cliente. Utilicé mis habilidades en desarrollo web para entregar resultados de alta calidad que cumplían con los requisitos y objetivos del cliente. Trabajé de manera colaborativa, comunicándome eficazmente y garantizando la satisfacción del cliente con el resultado final.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>