---
import GitHub from "../icons/GitHub.astro"
import Linkedin from "../icons/Linkedin.astro"
---
<footer class="w-full px-11 flex flex-col gap-6 py-20 text-center opacity-90">
    <div class="flex gap-4 justify-center">
        <a target="_blank" title="Brian Roberto Salas Pardo's Github Profile" href="https://github.com/pardo-salas">
            <GitHub class="size-6 hover:scale-110 hover:dark:text-sky-300 hover:text-sky-900 ease-in-out transition-colors" />
        </a>
        <a target="_blank" title="Brian Roberto Salas Pardo's Linkedin Profile" href="https://www.linkedin.com/in/briansalas13/">
            <Linkedin class="size-6 hover:scale-110 hover:dark:text-sky-300 hover:text-sky-900 ease-in-out transition-colors" />
        </a>
    </div>
    <p>
        © 2024 - Brian Roberto Salas Pardo 
    </p>
</footer>