---
import GitHub from "../icons/GitHub.astro"
import Linkedin from "../icons/Linkedin.astro"
---
<footer class="w-full px-11 flex flex-col gap-6 py-20 text-center opacity-90">
    <div class="flex gap-4 justify-center">
        <a href="https://github.com/pardo-salas">
            <GitHub class="size-6" />
        </a>
        <a href="https://www.linkedin.com/in/briansalas13/">
            <Linkedin class="size-6" />
        </a>
    </div>
    <p>
        © 2024 - Brian Roberto Salas Pardo 
    </p>
</footer>