<header class="flex justify-between items-center px-4 py-3 w-full mx-auto 
backdrop-filter backdrop-blur-sm fixed">
    <span class="text-xl sm:text-2xl font-bold">Brian <span class="text-blue-700/95">Salas</span></span>
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experience">Experiencia</a>
        <a href="#project">Proyectos</a>
        <a href="#about">Sobre mi</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>