<header id="header-nav" class="flex justify-between items-center px-6 py-3 w-screen mx-auto fixed">
    <span class="text-xl sm:text-2xl font-bold">Brian <span class="text-blue-700/95">Salas</span></span>
    <nav class="hidden md:flex flex-row gap-x-10 opacity-80">
        <a class="hover:text-blue-800/90" href="#top">Inicio</a>
        <a class="hover:text-blue-800/90" href="#experience">Experiencia</a>
        <a class="hover:text-blue-800/90" href="#project">Proyectos</a>
        <a class="hover:text-blue-800/90" href="#about">Sobre mi</a>
        <a class="hover:text-blue-800/90" href="#contact">Contacto</a>
    </nav>
</header>